.main_menu {
	list-style-type: none;        
        text-transform: uppercase;         
        padding-top:170px;
       
        float:right;
       
}
.main_menu li {    
    display: inline;
    padding: 20px;    
    text-align: center;
    background-color: #FFE4B5; 
    border: 1px solid black;
    
}

.main_menu li a {
    text-decoration: none;   
    font-family: Helvetica;    
    font-weight: bold;
    padding: 20px;   
    
    
}
.main_menu li:hover {
    background-color: #F8F8FF;     
    
}
header {
  background-color: #ffffff;    
  height: 250px;
}
/*
header:before {
  content: "The cat is fine too";     
  font-style: italic;
  font-color: #F8F8FF;
}
*/
.Logo {    
    float:left;
    padding: 10px 0 0 10px;
    overflow: hidden;
 }

footer {
    background-color: #ffffff;
    text-align: right;
    padding: 20px 20px 0 0;
    height:80px;
}
body {
    font-family: Helvetica;
    background-color: #f8f8f8;
    
    
}
body br{
    margin: 10px;
}
.body_product {
   font-family: Helvetica;  
}
.body_product p:first-letter{
    font-size:2em;
    color: Brown;
    font-style: italic;
}
.body_product h1, h2, h3 {
    color: black;
    font-size: 18px;

     
}
/*
.Short_product_description {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;    
}

/*.Long_product_description {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
*/

.Product_characters {    
    font-style: oblique;   
}



.Product_characters li{
    font-size: 20px;
    margin: 10px;
    list-style-image: url(../img/Cat_paw.png);      
}
.Feedback_form
{
    padding: 20px;   
    width: 300px;
}
.Feedback_form br {
    padding: 20px;
    font-size: 25px;
}

#Feedback_form_email:focus {
    background-color: #eaeaea;
    color: #484343;
    
}

#Feedback_form_name:focus {
    background-color: #eaeaea;
    color: #484343;    
}

#Feedback_form_name {
    height: 25px;
    font-size: 20px;
    color: black;
    font-family: arial;
    width: 500px;
}

#Feedback_form_email {
    height: 25px;
    font-size: 20px;
    color: black;
    font-family: arial;
    width: 500px;    
}
input {
    text-transform: capitalize;  
}
.for_border_image {
    outline-color:black;
    outline-width: 10px;
    padding: 10px;
    outline: 1px solid #666;

}
.for_border_image:hover {
    
    outline-width: 10px;
    padding: 10px;
    outline: 1px solid transparent;
}
table, td {
    border:1px solid #666;
    padding:10px;
    text-align: center;
}
table {
    background-color: #eaeaea;
}
td{
    background-color:white;
    
}
.More_height {
    width:150px;
    height:150px;
}

.katalog_img_description{
    
    height: 280px;
    margin-bottom: 30px;
}
.katalog_img_description img {
    float: left;
}

.Buy_button {
    margin-left: 300px; 
    overflow: hidden;
    
    
}
.Buy_button:hover{
    cursor: pointer;
}
.Buy_button:active{
    margin-top: 5px;
    
}
.katalog_img_description p
{
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    overflow: hidden;
    text-align: center;
}
h3{
    clear: both;
}


.Map iframe {
    width:100%;
    height: 374px;
}
.Catalog_gallery
{    
    height:300px;
    
}
.Product_gallery {
    float:left;
    display:inline;
    margin:20px;
    text-align: center;
    border: 5px solid #FFE4B5;
    padding: 5px;
  
}
.Product_gallery a
{
    text-decoration: none;
    
}
.Product_gallery:hover {
    border: 5px solid transparent;
}
.Container
{
    width: 100%;    
    margin: auto;    
}